# From chatgpt.com

## 1
Podrías hacer un código python que lance un query SQL a una base de datos SQL Server y que el resultado de dicha query la guarde como un archivo csv separado por ';' codificado utf-8 con BOM

Claro, aquí tienes un ejemplo de código Python que se conecta a una base de datos SQL Server, ejecuta una consulta SQL, y guarda el resultado en un archivo CSV con separador `;` y codificación `utf-8-sig` (que incluye el BOM):

### ✅ Requisitos previos

Necesitas instalar el paquete `pyodbc` si no lo tienes:

```bash
pip install pyodbc
```

---

### 💻 Código Python

```python
import pyodbc
import csv

# Parámetros de conexión (ajusta según tu configuración)
server = 'NOMBRE_DEL_SERVIDOR'
database = 'NOMBRE_DE_LA_BASE_DE_DATOS'
username = 'USUARIO'
password = 'CONTRASEÑA'

# Query SQL que quieres ejecutar
sql_query = 'SELECT * FROM tu_tabla'

# Nombre del archivo CSV de salida
output_file = 'resultado.csv'

# Establece la conexión
conn_str = (
    'DRIVER={ODBC Driver 17 for SQL Server};'
    f'SERVER={server};DATABASE={database};UID={username};PWD={password}'
)

try:
    with pyodbc.connect(conn_str) as conn:
        cursor = conn.cursor()
        cursor.execute(sql_query)

        # Obtener nombres de columnas
        columns = [column[0] for column in cursor.description]

        # Escribir a CSV con separador ';' y codificación UTF-8 con BOM
        with open(output_file, mode='w', newline='', encoding='utf-8-sig') as f:
            writer = csv.writer(f, delimiter=';')
            writer.writerow(columns)  # Escribe encabezados
            for row in cursor:
                writer.writerow(row)

    print(f"Archivo CSV guardado exitosamente como '{output_file}'.")

except Exception as e:
    print("Ocurrió un error:", e)
```

---

¿Te gustaría que te ayudara a generar una versión parametrizable desde línea de comandos o con una interfaz simple?
- Afirmativo

Perfecto. A continuación, te presento una **versión mejorada y parametrizable desde línea de comandos**. Esta versión permite pasar los parámetros como argumentos, ideal para automatización o uso repetido.

---

### 💻 Código Python (parametrizable vía CLI)

Guarda esto como `export_sql_to_csv.py`:

```python
import argparse
import pyodbc
import csv
import sys

def export_query_to_csv(server, database, username, password, query, output_file):
    conn_str = (
        'DRIVER={ODBC Driver 17 for SQL Server};'
        f'SERVER={server};DATABASE={database};UID={username};PWD={password}'
    )

    try:
        with pyodbc.connect(conn_str) as conn:
            cursor = conn.cursor()
            cursor.execute(query)

            # Obtener nombres de columnas
            columns = [column[0] for column in cursor.description]

            # Escribir resultados en CSV
            with open(output_file, mode='w', newline='', encoding='utf-8-sig') as f:
                writer = csv.writer(f, delimiter=';')
                writer.writerow(columns)
                for row in cursor:
                    writer.writerow(row)

        print(f"✅ Archivo CSV guardado como '{output_file}'.")

    except Exception as e:
        print(f"❌ Error: {e}")
        sys.exit(1)

if __name__ == '__main__':
    parser = argparse.ArgumentParser(description='Exporta el resultado de una consulta SQL Server a un archivo CSV.')

    parser.add_argument('--server', required=True, help='Nombre del servidor SQL Server')
    parser.add_argument('--database', required=True, help='Nombre de la base de datos')
    parser.add_argument('--username', required=True, help='Usuario de SQL Server')
    parser.add_argument('--password', required=True, help='Contraseña del usuario')
    parser.add_argument('--query', required=True, help='Consulta SQL que se va a ejecutar (en una sola línea o entre comillas)')
    parser.add_argument('--output', required=True, help='Ruta del archivo CSV de salida')

    args = parser.parse_args()

    export_query_to_csv(
        server=args.server,
        database=args.database,
        username=args.username,
        password=args.password,
        query=args.query,
        output_file=args.output
    )
```

---

### 🧪 Ejemplo de uso desde la terminal

```bash
python export_sql_to_csv.py \
  --server localhost \
  --database MiBase \
  --username sa \
  --password MiContraseña123 \
  --query "SELECT * FROM empleados" \
  --output empleados.csv
```

---

¿Quieres que también soporte autenticación de Windows (integrada)?

## 1' Prueba 1
- NO parametrizable vía CLI

In [3]:
## Libraries
import pyodbc
import csv

In [ ]:
## Prueba 0- conexion y queries

# Parámetros de conexión (ajusta según tu configuración)
server = '172.31.119.50'
database = 'Bantotal'
username = 'usr_motor'
password = 'MTM.m0t0R2024'
table = ''

# Query SQL que quieres ejecutar
# sql_query = 'select top 5 * from FSD010'
sql_query = "select Pgcod,Aomod,Aosuc,Aomda,Aopap,Aocta,Aooper,Aosbop,Aotope,convert(datetime,Aofval,121) as Aofval,convert(datetime,Aofvto,121) \
    as Aofvto,convert(float,Aopzo) as Aopzo,Aottas,convert(float,Aotasa) as Aotasa,Aotmor,convert(float,Aottac) as Aottac,Aotasc,Aotdia,Aotvto,Aotano,\
        Aotint,Aodrev,convert(float,Aoimp) as Aoimp,Aopre,Aopre1,Aotcbi,convert(float,Aotcbi1) as Aotcbi1,Aoarb,Aoarb1,Aomd,Aomd1,Aonume,Aofnum,Aoafiv,\
            Aocbcu,Aostat,Aoavis,Aoplus,Aoeven,convert(datetime,Aofe99,121) as Aofe99,Aocltcod,Aoperiod from fsd010 where aomod in (101,102,103,104) and \
                aopzo>0 and aofval <='20241231' union select Pgcod,Aomod,Aosuc,Aomda,Aopap,Aocta,Aooper,Aosbop,Aotope,convert(datetime,Aofval,121) as \
                    Aofval,convert(datetime,Aofvto,121) as Aofvto,convert(float,Aopzo) as Aopzo,Aottas,convert(float,Aotasa) as Aotasa,Aotmor,\
                        convert(float,Aottac) as Aottac,Aotasc,Aotdia,Aotvto,Aotano,Aotint,Aodrev,convert(float,Aoimp) as Aoimp,Aopre,Aopre1,Aotcbi,\
                            convert(float,Aotcbi1) as Aotcbi1,Aoarb,Aoarb1,Aomd,Aomd1,Aonume,Aofnum,Aoafiv,Aocbcu,Aostat,Aoavis,Aoplus,Aoeven,\
                                convert(datetime,Aofe99,121) as Aofe99,Aocltcod,Aoperiod from fsd010 where aomod in (71) and aofval <='20241231'"

# Nombre del archivo CSV de salida
output_file = 'resultado.csv'

# Establece la conexión
conn_str = (
    'DRIVER={ODBC Driver 17 for SQL Server};'
    f'SERVER={server};DATABASE={database};UID={username};PWD={password}'
)

try:
    with pyodbc.connect(conn_str) as conn:
        cursor = conn.cursor()
        cursor.execute(sql_query)

        # Obtener nombres de columnas
        columns = [column[0] for column in cursor.description]

        # Escribir a CSV con separador ';' y codificación UTF-8 con BOM
        with open(output_file, mode='w', newline='', encoding='utf-8-sig') as f:
            writer = csv.writer(f, delimiter=';')
            writer.writerow(columns)  # Escribe encabezados
            for row in cursor:
                writer.writerow(row)

    print(f"Archivo CSV guardado exitosamente como '{output_file}'.")

except Exception as e:
    print("Ocurrió un error:", e)

Archivo CSV guardado exitosamente como 'resultado.csv'.

In [10]:
## Prueba 1- tratar de leer fila a fila - y encabezado

# Parámetros de conexión (ajusta según tu configuración)
server = '172.31.119.50'
database = 'Bantotal'
username = 'usr_motor'
password = 'MTM.m0t0R2024'
table = ''

# Query SQL que quieres ejecutar
sql_query = 'select top 5 * from FSD010'
# sql_query = "select Pgcod,Aomod,Aosuc,Aomda,Aopap,Aocta,Aooper,Aosbop,Aotope,convert(datetime,Aofval,121) as Aofval,convert(datetime,Aofvto,121) \
#     as Aofvto,convert(float,Aopzo) as Aopzo,Aottas,convert(float,Aotasa) as Aotasa,Aotmor,convert(float,Aottac) as Aottac,Aotasc,Aotdia,Aotvto,Aotano,\
#         Aotint,Aodrev,convert(float,Aoimp) as Aoimp,Aopre,Aopre1,Aotcbi,convert(float,Aotcbi1) as Aotcbi1,Aoarb,Aoarb1,Aomd,Aomd1,Aonume,Aofnum,Aoafiv,\
#             Aocbcu,Aostat,Aoavis,Aoplus,Aoeven,convert(datetime,Aofe99,121) as Aofe99,Aocltcod,Aoperiod from fsd010 where aomod in (101,102,103,104) and \
#                 aopzo>0 and aofval <='20241231' union select Pgcod,Aomod,Aosuc,Aomda,Aopap,Aocta,Aooper,Aosbop,Aotope,convert(datetime,Aofval,121) as \
#                     Aofval,convert(datetime,Aofvto,121) as Aofvto,convert(float,Aopzo) as Aopzo,Aottas,convert(float,Aotasa) as Aotasa,Aotmor,\
#                         convert(float,Aottac) as Aottac,Aotasc,Aotdia,Aotvto,Aotano,Aotint,Aodrev,convert(float,Aoimp) as Aoimp,Aopre,Aopre1,Aotcbi,\
#                             convert(float,Aotcbi1) as Aotcbi1,Aoarb,Aoarb1,Aomd,Aomd1,Aonume,Aofnum,Aoafiv,Aocbcu,Aostat,Aoavis,Aoplus,Aoeven,\
#                                 convert(datetime,Aofe99,121) as Aofe99,Aocltcod,Aoperiod from fsd010 where aomod in (71) and aofval <='20241231'"

# Nombre del archivo CSV de salida
output_file = 'resultado.csv'

# Establece la conexión
conn_str = (
    'DRIVER={ODBC Driver 17 for SQL Server};'
    f'SERVER={server};DATABASE={database};UID={username};PWD={password}'
)

try:
    with pyodbc.connect(conn_str) as conn:
        cursor = conn.cursor()
        cursor.execute(sql_query)
        print(cursor.description)
        for row in cursor:
            print(row)

    #     # Obtener nombres de columnas
    #     columns = [column[0] for column in cursor.description]

    #     # Escribir a CSV con separador ';' y codificación UTF-8 con BOM
    #     with open(output_file, mode='w', newline='', encoding='utf-8-sig') as f:
    #         writer = csv.writer(f, delimiter=';')
    #         writer.writerow(columns)  # Escribe encabezados
    #         for row in cursor:
    #             writer.writerow(row)

    # print(f"Archivo CSV guardado exitosamente como '{output_file}'.")

except Exception as e:
    print("Ocurrió un error:", e)

(('Pgcod', <class 'int'>, None, 5, 5, 0, False), ('Aomod', <class 'int'>, None, 5, 5, 0, False), ('Aosuc', <class 'int'>, None, 5, 5, 0, False), ('Aomda', <class 'int'>, None, 5, 5, 0, False), ('Aopap', <class 'int'>, None, 5, 5, 0, False), ('Aocta', <class 'int'>, None, 10, 10, 0, False), ('Aooper', <class 'int'>, None, 10, 10, 0, False), ('Aosbop', <class 'int'>, None, 5, 5, 0, False), ('Aotope', <class 'int'>, None, 5, 5, 0, False), ('Aofval', <class 'datetime.datetime'>, None, 23, 23, 3, True), ('Aofvto', <class 'datetime.datetime'>, None, 23, 23, 3, True), ('Aopzo', <class 'int'>, None, 10, 10, 0, True), ('Aottas', <class 'int'>, None, 5, 5, 0, True), ('Aotasa', <class 'decimal.Decimal'>, None, 10, 10, 6, True), ('Aotmor', <class 'decimal.Decimal'>, None, 10, 10, 6, True), ('Aottac', <class 'int'>, None, 5, 5, 0, True), ('Aotasc', <class 'decimal.Decimal'>, None, 10, 10, 6, True), ('Aotdia', <class 'int'>, None, 5, 5, 0, True), ('Aotvto', <class 'str'>, None, 1, 1, 0, True), ('Aotano', <class 'int'>, None, 5, 5, 0, True), ('Aotint', <class 'str'>, None, 1, 1, 0, True), ('Aodrev', <class 'int'>, None, 10, 10, 0, True), ('Aoimp', <class 'decimal.Decimal'>, None, 17, 17, 2, True), ('Aopre', <class 'decimal.Decimal'>, None, 14, 14, 8, True), ('Aopre1', <class 'decimal.Decimal'>, None, 14, 14, 8, True), ('Aotcbi', <class 'decimal.Decimal'>, None, 14, 14, 8, True), ('Aotcbi1', <class 'decimal.Decimal'>, None, 14, 14, 8, True), ('Aoarb', <class 'decimal.Decimal'>, None, 14, 14, 8, True), ('Aoarb1', <class 'decimal.Decimal'>, None, 14, 14, 8, True), ('Aomd', <class 'str'>, None, 1, 1, 0, True), ('Aomd1', <class 'str'>, None, 1, 1, 0, True), ('Aonume', <class 'decimal.Decimal'>, None, 17, 17, 2, True), ('Aofnum', <class 'datetime.datetime'>, None, 23, 23, 3, True), ('Aoafiv', <class 'str'>, None, 1, 1, 0, True), ('Aocbcu', <class 'int'>, None, 5, 5, 0, True), ('Aostat', <class 'int'>, None, 5, 5, 0, True), ('Aoavis', <class 'int'>, None, 5, 5, 0, True), ('Aoplus', <class 'decimal.Decimal'>, None, 10, 10, 6, True), ('Aoeven', <class 'int'>, None, 10, 10, 0, True), ('Aofe99', <class 'datetime.datetime'>, None, 23, 23, 3, True), ('Aocltcod', <class 'int'>, None, 5, 5, 0, True), ('Aoperiod', <class 'int'>, None, 10, 10, 0, True))
(1, 22, 10, 2, 0, 101001, 1228474, 0, 1, datetime.datetime(2008, 6, 27, 0, 0), datetime.datetime(2008, 9, 25, 0, 0), 90, 2, Decimal('1.350000'), Decimal('0.000000'), 0, Decimal('0.000000'), 2, 'P', 2, 'C', 0, Decimal('7785.54'), Decimal('0E-8'), Decimal('0E-8'), Decimal('0E-8'), Decimal('1.00000000'), Decimal('0E-8'), Decimal('0E-8'), ' ', ' ', Decimal('25.92'), datetime.datetime(1753, 1, 1, 0, 0), ' ', 0, 99, 0, Decimal('0.000000'), 0, datetime.datetime(2008, 9, 25, 0, 0), 0, 0)
(1, 22, 10, 2, 0, 101006, 184702, 0, 1, datetime.datetime(2018, 5, 8, 0, 0), datetime.datetime(2018, 6, 11, 0, 0), 34, 2, Decimal('2.000000'), Decimal('0.000000'), 0, Decimal('0.000000'), 2, 'P', 2, 'C', 0, Decimal('10500.00'), Decimal('0E-8'), Decimal('0E-8'), Decimal('0E-8'), Decimal('10.00000000'), Decimal('0E-8'), Decimal('0E-8'), ' ', ' ', Decimal('19.56'), datetime.datetime(1753, 1, 1, 0, 0), ' ', 0, 99, 0, Decimal('0.000000'), 0, datetime.datetime(2018, 6, 11, 0, 0), 0, 0)
(1, 22, 10, 2, 0, 101006, 184702, 1, 1, datetime.datetime(2018, 6, 11, 0, 0), datetime.datetime(2018, 7, 11, 0, 0), 30, 2, Decimal('2.000000'), Decimal('0.000000'), 0, Decimal('0.000000'), 2, 'P', 2, 'C', 0, Decimal('10519.56'), Decimal('0E-8'), Decimal('0E-8'), Decimal('0E-8'), Decimal('1.00000000'), Decimal('0E-8'), Decimal('0E-8'), ' ', ' ', Decimal('17.29'), datetime.datetime(1753, 1, 1, 0, 0), ' ', 0, 99, 0, Decimal('0.000000'), 0, datetime.datetime(2018, 7, 11, 0, 0), 0, 0)
(1, 22, 10, 2, 0, 101016, 227532, 0, 1, datetime.datetime(2020, 3, 16, 0, 0), datetime.datetime(2020, 5, 15, 0, 0), 60, 2, Decimal('1.000000'), Decimal('0.000000'), 0, Decimal('0.000000'), 2, 'P', 2, 'C', 0, Decimal('1000.00'), Decimal('0E-8'), Decimal('0E-8'), Decimal('0E-8'), Decimal('10.00000000'), Decimal('0E-8'), Decimal('0E-8'), ' ', ' ', Decimal('1.64'), datetime.datetime(1753, 1, 1, 0, 0), ' ', 0, 99, 0, Decimal('0.000000'), 0, datetime.datetime(2020, 5, 15, 0, 0), 0, 0)
(1, 22, 10, 2, 0, 101016, 231352, 0, 1, datetime.datetime(2020, 5, 19, 0, 0), datetime.datetime(2020, 7, 20, 0, 0), 62, 2, Decimal('1.000000'), Decimal('0.000000'), 0, Decimal('0.000000'), 2, 'P', 2, 'C', 0, Decimal('1001.64'), Decimal('0E-8'), Decimal('0E-8'), Decimal('0E-8'), Decimal('10.00000000'), Decimal('0E-8'), Decimal('0E-8'), ' ', ' ', Decimal('1.70'), datetime.datetime(1753, 1, 1, 0, 0), ' ', 0, 99, 0, Decimal('0.000000'), 0, datetime.datetime(2020, 7, 20, 0, 0), 0, 0)

Para evitar que los números decimales aparezcan en **notación científica** o con **parte decimal innecesaria (.0)** en el archivo CSV, necesitas **convertir explícitamente** cada valor antes de escribirlo al archivo. Esto se puede hacer formateando los valores dentro del bucle de escritura.

Aquí tienes una versión modificada de tu código que:

1. Convierte números en formato decimal a cadena sin notación científica.
2. Quita `.0` si el valor decimal es un número entero.
3. Deja los demás valores (como cadenas o fechas) sin modificar.

### Código modificado:

```python
import pyodbc
import csv
import decimal

# Parámetros de conexión (ajusta según tu configuración)
server = 'NOMBRE_DEL_SERVIDOR'
database = 'NOMBRE_DE_LA_BASE_DE_DATOS'
username = 'USUARIO'
password = 'CONTRASEÑA'

# Query SQL que quieres ejecutar
sql_query = 'SELECT * FROM tu_tabla'

# Nombre del archivo CSV de salida
output_file = 'resultado.csv'

# Establece la conexión
conn_str = (
    'DRIVER={ODBC Driver 17 for SQL Server};'
    f'SERVER={server};DATABASE={database};UID={username};PWD={password}'
)

def format_value(value):
    if isinstance(value, float) or isinstance(value, decimal.Decimal):
        if value == int(value):
            return str(int(value))  # Elimina parte decimal si es entero
        else:
            return format(value, 'f')  # No usar notación científica
    return str(value)  # Otros tipos (texto, fechas, etc.)

try:
    with pyodbc.connect(conn_str) as conn:
        cursor = conn.cursor()
        cursor.execute(sql_query)

        # Obtener nombres de columnas
        columns = [column[0] for column in cursor.description]

        # Escribir a CSV
        with open(output_file, mode='w', newline='', encoding='utf-8-sig') as f:
            writer = csv.writer(f, delimiter=';')
            writer.writerow(columns)
            for row in cursor:
                formatted_row = [format_value(value) for value in row]
                writer.writerow(formatted_row)

    print(f"Archivo CSV guardado exitosamente como '{output_file}'.")

except Exception as e:
    print("Ocurrió un error:", e)
```

### Resultado:

* `12.0000000000` → `12`
* `1.23E+5` → `123000`
* `45.67` → `45.67`

¿Quieres que te ayude a aplicar un formato numérico específico (como usar coma en vez de punto decimal)?
JM -> Lo pedí y queda mucho más abajo...

### Probamos SOLO ENTEROS y SIN NOTACION CIENTIFICA.

In [ ]:
## Functions
def format_value(value):
    if isinstance(value, float) or isinstance(value, decimal.Decimal):
        if value == int(value):
            return str(int(value))  # Elimina parte decimal si es entero
        else:
            return format(value, 'f')  # No usar notación científica
    return str(value)  # Otros tipos (texto, fechas, etc.)

# Parámetros de conexión (ajusta según tu configuración)
server = '172.31.119.50'
database = 'Bantotal'
username = 'usr_motor'
password = 'MTM.m0t0R2024'

# Query SQL que quieres ejecutar
sql_query = 'select top 5 * from FSD010'

# Establece la conexión
conn_str = (
    'DRIVER={ODBC Driver 17 for SQL Server};'
    f'SERVER={server};DATABASE={database};UID={username};PWD={password}'
)

try:
    with pyodbc.connect(conn_str) as conn:
        cursor = conn.cursor()
        cursor.execute(sql_query)
        print(cursor.description)
        for row in cursor:
            print(row)

Perfecto. Si quieres que los números decimales usen **coma (`,`) como separador decimal**, como es común en muchos países hispanohablantes, puedes modificar la función `format_value` para que reemplace el punto por una coma **solo en números**.

Aquí te muestro cómo hacerlo:

---

### ✅ Versión actualizada con coma como separador decimal:

```python
import pyodbc
import csv
import decimal

# Parámetros de conexión
server = 'NOMBRE_DEL_SERVIDOR'
database = 'NOMBRE_DE_LA_BASE_DE_DATOS'
username = 'USUARIO'
password = 'CONTRASEÑA'

# Query SQL
sql_query = 'SELECT * FROM tu_tabla'

# Archivo CSV de salida
output_file = 'resultado.csv'

# Cadena de conexión
conn_str = (
    'DRIVER={ODBC Driver 17 for SQL Server};'
    f'SERVER={server};DATABASE={database};UID={username};PWD={password}'
)

# Formatear valores
def format_value(value):
    if isinstance(value, float) or isinstance(value, decimal.Decimal):
        if value == int(value):
            return str(int(value))
        else:
            return format(value, 'f').replace('.', ',')  # Reemplaza punto por coma
    return str(value)

try:
    with pyodbc.connect(conn_str) as conn:
        cursor = conn.cursor()
        cursor.execute(sql_query)

        # Nombres de columnas
        columns = [column[0] for column in cursor.description]

        # Escribir CSV
        with open(output_file, mode='w', newline='', encoding='utf-8-sig') as f:
            writer = csv.writer(f, delimiter=';')
            writer.writerow(columns)
            for row in cursor:
                formatted_row = [format_value(value) for value in row]
                writer.writerow(formatted_row)

    print(f"Archivo CSV guardado exitosamente como '{output_file}'.")

except Exception as e:
    print("Ocurrió un error:", e)
```

---

### 🔍 Ejemplo de conversión:

| Valor en base de datos | En CSV       |
| ---------------------- | ------------ |
| `123.0`                | `123`        |
| `123456.789`           | `123456,789` |
| `1.0E+4`               | `10000`      |
| `1.23`                 | `1,23`       |

---

¿Quieres que también se apliquen separadores de miles (por ejemplo, `1.234,56` en lugar de `1234,56`)?