In [1]:
# importing pandas module
import pandas as pd

# create pandas DataFrame with one column with five 
# datetime values through a dictionary
df = pd.DataFrame({'DateTime': ['2021-01-15 00:00:00', 
								'1989-05-24 00:00:00',
								'2020-01-18 00:00:00']})
display(df)
df.DateTime

              DateTime
0  2021-01-15 00:00:00
1  1989-05-24 00:00:00
2  2020-01-18 00:00:00

0    2021-01-15 00:00:00
1    1989-05-24 00:00:00
2    2020-01-18 00:00:00
Name: DateTime, dtype: object

In [2]:
df['Mycol'] = pd.to_datetime(df['DateTime'], format='%Y-%m-%d %H:%M:%S')
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  3 non-null      object
 1   Mycol     3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 180.0+ bytes

              DateTime      Mycol
0  2021-01-15 00:00:00 2021-01-15
1  1989-05-24 00:00:00 1989-05-24
2  2020-01-18 00:00:00 2020-01-18

In [4]:
df_cols = []
dic = df.dtypes.to_dict()
for col, typ in dic.items():
    #print(col, typ)
    if typ == 'datetime64[ns]':
        # df_cols.append(col)
        df[col] = df[col].dt.strftime('%Y-%m-%d %H:%M:%S')
# print(df_cols)
print(df.info())
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  3 non-null      object
 1   Mycol     3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
None

              DateTime                Mycol
0  2021-01-15 00:00:00  2021-01-15 00:00:00
1  1989-05-24 00:00:00  1989-05-24 00:00:00
2  2020-01-18 00:00:00  2020-01-18 00:00:00