In [6]:
import pandas as pd

## functions
def info(dtframe):
    display(dtframe.info())
    display(dtframe)

dt_lst = pd.date_range(start='2021-06-25', periods=3).to_list()
print(dt_lst, '\n')
int_lst = [i for i in range(-1, -4, -1)]
df = pd.DataFrame({'dia_hora': dt_lst,
                   'integers': int_lst})

info(df)

[Timestamp('2021-06-25 00:00:00'), Timestamp('2021-06-26 00:00:00'), Timestamp('2021-06-27 00:00:00')]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   dia_hora  3 non-null      datetime64[ns]
 1   integers  3 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 176.0 bytes

None

    dia_hora  integers
0 2021-06-25        -1
1 2021-06-26        -2
2 2021-06-27        -3

In [7]:
# https://sparkbyexamples.com/pandas/pandas-convert-datetime-to-string-format/
for col in df.select_dtypes(include=['datetime64']).columns.tolist():
    # df[col] = df[col].astype(str)
    df[col] = df[col].apply(lambda x: x.strftime('%F %T.%f')[:-3])

info(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   dia_hora  3 non-null      object
 1   integers  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

None

                  dia_hora  integers
0  2021-06-25 00:00:00.000        -1
1  2021-06-26 00:00:00.000        -2
2  2021-06-27 00:00:00.000        -3

In [8]:
dtype_dic = df.dtypes.to_dict()
for col, typ in dtype_dic.items():
    if typ == 'datetime64[ns]':
        # df[col] = df[col].dt.strftime('%Y-%m-%d %H:%M:%S.%f') #%f is microsecond SIX(6) digits
        #df[col] = df[col].dt.strftime('%F %T.%f')
        df[col] = df[col].apply(lambda x: x.strftime('%F %T.%f')[:-3])

df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   dia_hora  3 non-null      object
 1   integers  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

                  dia_hora  integers
0  2021-06-25 00:00:00.000        -1
1  2021-06-26 00:00:00.000        -2
2  2021-06-27 00:00:00.000        -3

In [9]:
import datetime as dt

today = dt.datetime.today()
today

datetime.datetime(2024, 2, 6, 19, 17, 25, 46373)

In [10]:
td_str = today.strftime('%F %T.%f')[:-3]
td_str

'2024-02-06 19:17:25.046'