# Make valid df from empty qry result

In [11]:
import pyodbc
import pandas as pd

query = ''' select * from sales.orders where order_status=3 and order_date='2016-02-07' '''

In [12]:
### function to convert SQL query to a df
def df_from_sql(qry, cur):
    cur.execute(qry)
    ## Hya que hacer inteligente esta funct. de modo que si devuelve tabla vacía
    ## Crear un df vacía --mmm revisar queries 
    try:
        cols = [i[0] for i in cur.description]
        dats = [list(xx) for xx in cur]
    except Exception as e:
        ln = f'>err ERROR! {e}'
        df = False
    else:
        df = pd.DataFrame(data=dats, columns=cols)
    return df


def cnx_db(srv, dbname):
    mssql_drv = '{ODBC Driver 17 for SQL Server}'
    user = 'soporte'
    passwd = 'Mate+123'

    # Construct the Connection String
    cnx_string = f'DRIVER={mssql_drv};SERVER={srv};' +\
            f'DATABASE={dbname};UID={user};PWD={passwd}'
    print('Connection String:\n', cnx_string)

    # Establish the connection
    try:
        cnx = pyodbc.connect(cnx_string)
    except pyodbc.Error as e:
        cursor = False
        ln = f'''>err ERROR! Falló la conexión con {srv} {dbname}
            {e} '''
    else:
        cursor = cnx.cursor()
        ln = f'>ok_ Conexión con {srv} {dbname} EXITOSA!'
    finally:
        print(ln)   # only in jupyter to view

    return cursor

In [13]:
cur = cnx_db('localhost', 'BikeStores')
res_df = df_from_sql(query, cur)
res_df

Connection String:
 DRIVER={ODBC Driver 17 for SQL Server};SERVER=localhost;DATABASE=BikeStores;UID=soporte;PWD=Mate+123
>ok_ Conexión con localhost BikeStores EXITOSA!

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_date, required_date, shipped_date, store_id, staff_id]
Index: []

In [14]:
## 
print(res_df.empty)

True

In [17]:
fn = 'arch.csv'
res_df.to_csv(fn, sep=';', encoding='utf-8', index=False)

In [38]:
flag_col = 'df_from_sql()¡ERROR!'
df = pd.DataFrame({flag_col: [1]})
df.columns[0]

'df_from_sql()¡ERROR!'

In [37]:
if flag_col == df.columns[0]:
    print(flag_col)

df_from_sql() ERROR

In [30]:
trin = 'ERROR en fun. df_from_sql()!'
ln = f'''>{trin} {fn}'''
#data = {'ERR': [ln], 'Otro': ['Y ahora']}
df = pd.DataFrame({'ERR': [ln]})
df

                                      ERR
0  >ERROR en fun. df_from_sql()! arch.csv

In [31]:
print(df.iloc[0, 0], type(df.iloc[0, 0]))
if trin in df.iloc[0, 0]:
    print(trin)

>ERROR en fun. df_from_sql()! arch.csv <class 'str'>
ERROR en fun. df_from_sql()!

In [16]:
## Empty df
edf = pd.DataFrame()
print(edf.empty)

True